<div id="top-container" class="container-fluid">
  <h1 id="main-title" class="text-center">XKCD API - tirinhas</h1>
  <p id="main-subtitle" class="text-center">
    O xkcd autodenomina-se "um webcomic de romance, sarcasmo, matemática e linguagem": 
    os temas vão de declarações sobre a vida e o amor a brincadeiras internas de ciência ou matemática. Alguns são de um humor simples ou com referências a cultura pop.
  </p>
  <form id="search-form" class="form-inline" action="/card"  method="get">
    <div class="form-group col-md-10">
      <input type="text" class="form-control" id="comicId" value="" name="comicId" placeholder="Digite o ID da comic">
    </div>
    <div class="col-md-2">
      <button type="submit" class="btn btn-primary">Procurar</button>
    </div>
  </form>
</div>
<main>
</main>